.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dry-time-container-outer {
    position: absolute;
    bottom: 3%;
}
.dry-time-card {
    min-height: 84vh;
    width: 49%;
    padding: 3%;
    position: relative;
}
.dry-time-card-left {
    border-right: 1px solid black;
}
.info-items {
    display: flex;
    flex-wrap: wrap;
}
.time-to-dry {
    background-color: white;
    height: 200px;
    width: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 2px 2px black;
}