@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #413d8a;
    color: white;
}
.dry-time-container-outer {
    position: absolute;
    width: 90%;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dry-time-card {
    min-height: 92vh;
    width: 49%;
    padding: 3%;
    position: relative;
}
.dry-time-card h2 { 
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.dry-time-card-left {
    border-right: 1px solid #0c070c;
}
.info-items {
    display: flex;
    flex-wrap: wrap;
}
.time-to-dry {
    background-color: #e05ce8;
    text-shadow: 1px 1px 1px #943f3f;
    height: 265px;
    width: 265px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #653761;
    font-size: 40px;
    color: black;
}