.environment-card {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5%;
    margin: .5%;
    box-shadow: 1px 1px 3px #1f1a1ad4;
}
.name {
    font-size: 15px;
}
.metric {
    font-size: 30px;
    font-weight: bold;
}