.app-header {
  background-color: blueviolet;
  color: white;
  padding: 5%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
h1 {
  padding: 0;
  margin: 0;
}
.brand {
  display: flex;
  align-items: center;
}
.logo img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}